 /* Reseteo de margenes */
 
 * {
     margin: 0;
     padding: 0;
 }
 /* Reseteo de margenes */
 
 body {
     background-color: #444444;
     color: #ffffff;
 }
 
 #contenedor {
     width: 960px;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     border-radius: 20px;
     overflow: hidden;
 }
 /* header */
 
 header {
     height: 150px;
     background-color: black;
 }
 
 header h1 {
     font-size: 50px;
     text-align: center;
     line-height: 150px;
 }
 
 nav {
     background-color: orangered;
     height: 60px;
 }
 
 nav h2 {
     font-size: 40px;
     text-align: center;
     line-height: 60px;
 }
 
 #contenido {
     width: 700px;
     height: 500px;
     float: left;
     background-color: blue;
     margin-top: 10px;
     margin-right: 10px;
 }
 
 #contenido h2 {
     font-size: 40px;
     text-align: center;
     line-height: 500px;
 }
 
 aside {
     width: 250px;
     height: 500px;
     background-color: green;
     margin-top: 11px;
     float: right;
 }
 
 aside h2 {
     font-size: 40px;
     text-align: center;
     line-height: 500px;
 }
 /* clear: both */
 /* rompe la propiedad float */
 
 footer {
     background-color: black;
     clear: both;
 }
 
 footer h2 {
     font-size: 40px;
     text-align: center;
     padding: 20px;
     font-style: italic;
 }