@charset "utf-8";
#cabeceraweb {
    background-color: #00F;
}

#navegacionprincipal {
    background-color: #F00;
}

#barralateral {
    background-color: #0F0;
}

#contenidoprincipal {
    background-color: #606;
}

#pieprincipal {
    background-color: #FF0;
}

li {
    background-color: #FF0;
    display: inline;
}