/** Reset para REMS - 62.5% = 10px de 16px **/
html {
  font-size: 62.5%;
}

/** Snipped Ajuste de margenes **/

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Fuentes **/
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/** Globales **/

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem; /* 120rem = 1200px*/
  margin: 0 auto;
}

/** Sistema de tamaños para los titulos fuentes **/
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/** Utilidades **/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300 {
  font-weight: 300;
}

.centrar-texto {
  text-align: center;
}

.d-block {
  display: block !important;
}

/** Botones **/
.boton {
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 3rem;
  padding: 1rem, 3rem;
  display: inline-block;
  text-align: center;
}

.boton-amrillo {
  background-color: #e08709;
}

.boton-verde {
  background-color: #71b100;
}

/** Header **/
.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
/** Titulo **/
.contenido-header h1 {
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 2;
}

.barra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

/** Navegaccion **/

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem; /* 1.8 rem = 18px*/
  margin-right: 2rem;
}

/** Color al pasar el mouse por el selector **/
.navegacion a:hover {
  margin-right: #71b100;
}

/** margen para el ultimo elemento de los selectores o menu **/
.navegacion a:last-of-type {
  margin: 0;
}

/** Iconos Nosotros**/

.iconos-nosotros {
  display: flex;
  justify-content: space-between;
}

.icono {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}

.icono h3 {
  text-transform: uppercase;
}

/** Anuncios **/
.contenedor-anuncios {
  display: flex;
  justify-content: space-between;
}

.anuncio {
  flex-basis: calc(33.3% - 1rem);
  border: 1px solid #b5b5b5;
  background-color: #f5f5f5;
}

.contenido-anuncio {
  padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
  margin: 0;
}

.precio {
  color: green;
  font-weight: 700px;
}

.ver-todas {
  display: flex;
  justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto {
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
}
